.invert {
  filter: invert(1);
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.m-1 {
  margin: 10px 15px;
}
